<h1>Enter two words to see if they are anagrams!</h1>
<form action='/result' method='get'>
  <div class="form-group">
    <label for="word1">Word 1: </label>
    <input id="word1" name="word1" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="word2">Another name</label>
    <input id="word2" name="word2" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Find Out!</button>
</form>
